@import "_global";

.finishing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  top: 30vh;
  left: 50vw;
  font-size: 2rem;
  font-weight: 500;
  flex-direction: column;

  .service-subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-button;
    color: $white;
    height: 4rem;
    width: 38rem;
    font-size: 3rem;
    margin: auto;
  }

  .input-service {
    border: 2px solid $red;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1.8rem;
    height: 3.5rem;
    width: 38rem;
    padding-left: 0.5rem;
  }

  .import-addServices {
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.input-titleCurso {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  color: #ffffff;
  height: 2.5rem;
  width: 40rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.input-service-Curso {
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 0.8rem;
  height: 3.5rem;
  width: 38rem;
  padding-left: 0.5rem;
  margin: auto;
  margin-top: 2rem;
  margin-left: 1rem;
}

.input-service {
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 0.8rem;
  height: 3.5rem;
  width: 38rem;
  padding-left: 0.5rem;
  margin: auto;
  margin-top: 3rem;
  margin-left: 1rem;
}

.mensagem {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
