@import "_global.scss";

.container-editUser {
  position: absolute;
  top: 6rem;
  left: 110rem;
}

.select-depto {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.radioOpcoes {
  align-items: center;
}

.mensagem-edit {
  text-align: center;
}

.title-info {
  background-color: $grey-button;
  color: $white;
  width: 40rem;
  height: 4rem;
  padding: 0.8rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.opcoes {
  text-align: center;
}

.radioOpcoes {
  text-align: center !important;

  .form-check-input {
    width: 1.8rem !important;
    height: 1.8rem !important;
  }
}

.input-textED {
  border: 1px solid black;
  font-size: 1.6rem;
  width: 35rem;
  height: 4rem;
  margin: 1rem 0;
}

.btn-goBack,
.btn-Edit {
  width: 100% !important;
  height: 40% !important;
  display: flex !important;
  margin-bottom: 1rem !important;
  padding: 1rem !important;
  font-size: 1.4rem !important;
  flex-direction: column !important;
  border-radius: 20px !important;
}

.btn-goBack {
  background-color: $red !important;
  border: none !important;
}
