@import '_global';

.container-history-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 13%;
    left: 30%;
    
    .history-admin-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        background-color: $grey-button;
        color: $white;
    }

    .div-search {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;        
        margin-top: 3rem;
        
        .search-user {
            height: 3rem;
            border-radius: 8px;
            text-align: center;
            background-color: $grey;
        }

    }

    .div-itens-admin {
        margin-bottom: 4rem;
        width: 100%;

        .history-admin-item {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 5rem;
            background-color: $grey;
            font-size: 2rem;
            margin-top:3rem;
    
            .btns-admin {
                display: flex;
                justify-content: space-between;
                width: 21rem;
                
                .btn-review-admin {
                    width: 10rem;
                    height: 3rem;
                    cursor: pointer;
                    background-color: $grey-button;
                    color: $white;
                    border-radius: 8px;
                    font-size: 1.6rem; 
                }
    
                .btn-details-admin {
                    width: 10rem;
                    height: 3rem;
                    cursor: pointer;
                    background-color: $grey-button;
                    color: $white;
                    border-radius: 8px;
                    font-size: 1.6rem;
                }
                
            }
            
            .btn-review-admin:hover {
                background-color: white;;
                color: $grey-button;
            }
            .btn-details-admin:hover {
                background-color: white;
                color: $grey-button;
            }
        }
    }
}

@media (max-width:1000px) {
    .container-history-admin {
        width: 100%;
        left: 0%;
    }
}