@import '_global';

.container-history-default {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 13%;
    left: 30%;
    
    .history-default-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        background-color: $grey-button;
        color: $white;
    }

    .div-itens-default {
        margin-bottom: 4rem;
        width: 100%;

        .history-default-item {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 5rem;
            background-color: $grey;
            font-size: 2rem;
            margin-top:3rem;
    
            .btns-default {
                display: flex;
                justify-content: space-between;
                width: 21rem;
                
                .btn-review-default {
                    width: 10rem;
                    height: 3rem;
                    cursor: pointer;
                    background-color: $grey-button;
                    color: $white;
                    border-radius: 8px;
                    font-size: 1.6rem; 
                }
    
                .btn-details-default {
                    width: 10rem;
                    height: 3rem;
                    cursor: pointer;
                    background-color: $grey-button;
                    color: $white;
                    border-radius: 8px;
                    font-size: 1.6rem;
                }
                
            }
            
            .btn-review-default:hover {
                background-color: white;;
                color: $grey-button;
            }
            .btn-details-default:hover {
                background-color: white;
                color: $grey-button;
            }
        }
    }
}

@media (max-width:1000px) {
    .container-history-default {
        width: 80%;
        left: 11%;
    }
}