@import 'global';

.content{
    display: flex;
    height: 100vh;
}

.container{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.login-subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-button;
    color: $white;
    height: 4rem;
    width: 38rem;
    margin-bottom: 4.5rem;
    font-size: 1.8rem;
}

.login-input-box {
    border: 1px solid #363232;
    font-size: 1.2rem;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1rem;
    height: 3.5rem;
    width: 38rem;
}

.login-subTitle {
    margin-bottom: 4.5rem;
    font-size: 3rem;
}

.link-box {
    text-align: end;
    margin-bottom: 3rem;
}

.newPassword {
    color: $red;
    font-size: 1.3rem;
    text-align: end;
    cursor: pointer;
}

.newPassword:hover {
    color: rgb(177, 0, 0)
}

.login-button {
    color: $white;
    background-color: $red;
    height: 3rem;
    border-radius: 40px;
    font-size: 1.2rem;
}

.login-button:hover {
    cursor: pointer;
    background-color: #BA181B;
}

.login-message {
    margin-top: 2rem;
}
// .icon-position {
//     font-size: 1.5rem;
//     text-align: end;
// }

// #icon1 {
    //     position: absolute;
//     margin-top: 1rem;
//     margin-left: 0.3rem;
// }

// #icon2 {
    //     margin-top: 5.4rem;
    //     margin-left: 0.3rem;
    //     position: absolute;
    // }

@media (max-width: 800px) {
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
        position: fixed;
        width: 100vw;

        .container{
            background-color: $grey-button;
            height: 60vh;
            width: 80vw;
            border-radius: 1rem;
            
            .login-subTitle{
                color: $white;
                font-size: 4rem;
                width: 3rem;
                margin-bottom: 5vh;
                background-color: transparent;
            }

            .login-input-box {
                width: 60vw;
            }
        }
    }
}