@import 'global';

button {
  background-color: $grey;
}

body{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #050404, #2e1c2b, #4a1942, #893168);
  background-size: 400% 400%;
  animation: backgroundTransition 8s ease-in-out infinite;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  border: 1px solid black;
  width: 35rem;
  height: 35rem;
  border-radius: 8px;
}

#h2{
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.text{
  height: 3.5rem;
  width: 20rem;
  margin: 1.2rem 0;
  border-radius: 8px;
  border: none;
  text-align: center;
}

#btn{
  border-radius: 8px;
  height: 3.5rem;
  width: 5rem;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: .5s;
}

.new-senha {
  border: none;
  margin-top: 2rem;
  background-color: transparent;
}

#btn:hover{
  background-color: #2e1c2b;
}

a{
  font-size: 1.4rem;
  margin-top: 2rem;
}

#register{
  border-radius: 8px;
  padding: 1rem;
  border: none;
  background-color: #d80c2e;
  color: white;
  cursor: pointer;
  transition: .5s;
  margin-top: 1rem;
  text-align: center;
  transition: .5s;
}

#register:hover{
  background-color: #893168;
}

a{
  font-size: 1.4rem;
  margin-top: 2rem;
}

@keyframes backgroundTransition{
  0%{
      background-position: 0% 80%;
  }

  50%{
      background-position: 80% 100%;
  }

  100%{
      background-position: 0% 90%;
  }
}

/* Animação ao entrar na página */
#container{
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Kit de animação para fazer funcionar em outros navegadores que não sejam compativeis*/
@-webkit-keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}

/* Animação dos inputs */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.input-field{
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.input-field.first{
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.third{
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fourth{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}