@import './global';

.container-management {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120rem;
  top: 13rem;
  left: 50rem;
  font-size: 2rem;
  font-weight: 500;
  flex-direction: column;

  .management {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-button;
    color: $white;
    width: 100%;
    margin-bottom: 0.8rem;

    .management-title {
      color: $white;
      margin-left: 25.3rem;
      margin-right: 20rem;
    }

    .icon-management {
      font-size: 1.8rem;
      margin-left: 1.5rem;
    }

    #search {
      height: 2.2rem;
    }
  }

  .input-management {
    margin-right: 2rem;
    text-align: center;
    height: 3rem;
    margin: 2rem 1rem;
    width: 20rem;
  }

  .nif {
    width: 10rem;
  }

  /* Chrome, Safari, Edge, Opera */
  .nif::-webkit-outer-spin-button,
  .nif::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .nif[type='number'] {
    -moz-appearance: textfield;
  }

  /* Chrome, Safari, Edge, Opera */
  .cfp::-webkit-outer-spin-button,
  .cfp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .cfp[type='number'] {
    -moz-appearance: textfield;
  }

  .cfp {
    width: 10rem;
  }

  .dp {
    width: 25rem;
  }

  .tel {
    width: 12rem;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    width: 100%;
    margin: 2rem 0;

    .btn-management {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      .btn-management-E {
        height: 3rem;
        width: 6rem;
        border-radius: 8px;
        margin-right: 0.5rem;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background-color: $blue;
          color: $white;
        }
      }

      .btn-management-D {
        height: 3rem;
        width: 6rem;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background-color: $red;
          color: $white;
        }
      }
    }
  }

  .btn-newUser {
    margin-left: 103.5rem;

    button {
      background-color: $grey-button;
      color: $white;
      height: 4rem;
      width: 17rem;
      font-size: 1.8rem;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.5s;
    }

    button:hover {
      background-color: $blue-hover;
    }
  }
}
