@import 'global';

.content{
    display: flex;
    height: 100vh;
}

.container{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.password-input-box {
    border: 1px solid #363232;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1rem;
    height: 3.5rem;
    width: 38rem;
    font-size: 1.5rem;
    padding-left: 1.0rem;
}

.np-subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-button;
    color: $white;
    height: 4rem;
    width: 38rem;
    margin-bottom: 4.5rem;
    font-size: 2.5rem;
}

.np-button {
    color: $white;
    background-color: $red;
    height: 3rem;
    border-radius: 1.0rem;
    box-shadow: $grey 0.2rem 0.3rem;
    font-size: 1.5rem;
}

.np-button:hover {
    cursor: pointer;
    background-color: #BA181B;
}
