@import "global";

.details-card {
  background-color: $grey !important;
  width: 50rem !important;
  height: 35rem !important;
  display: flex !important;

  .title-itens {
    font-size: 2.5rem !important;
  }
}

.form-details {
  background-color: aqua !important;
}