@import 'global';

.content{
    display: flex;
    height: 100vh;
}

.container{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"]{
    display: none;
}

.customize{
    background-color: $blue;
    color: $white;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 8px;
    border: 0;
    padding: 0.6rem 12.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1.6rem 0;
    transition: .5s;
    text-align: center;
    
    &:hover{
        background-color: $red;
    }

    .uploud{
        margin-right: 2rem;
        font-size: 2rem;
    }
}

.input-box {
    border: 1px solid #363232;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1.8rem;
    height: 3.5rem;
    width: 38rem;
    padding-left: 0.5rem;
}

.ui-subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-button;
    color: $white;
    height: 4rem;
    width: 38rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
}

.btns {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -2rem;
}

.ui-button {
    color: $white;
    background-color: $red;
    height: 3rem;
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}


.changeButton {
    color: $white;
    background-color: $grey-button;
    height: 3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;

    &:hover {
        background-color: #050505;
    }
}

.ui-button:nth-child(1) {
    background-color: $blue;

    &:hover {
        background-color: #04345c;
    }
}

.ui-button:nth-child(2) {

    &:hover {
        background-color: #BA181B;
    }
}

.select {
    margin-bottom: 2rem;
}

.btn-edit-user {
    width: 38rem;
    cursor: pointer;
    margin-top: 3.5rem;
    padding: 1rem;
    background-color: $blue;
    color: $white;
    border-radius: 2rem;
    transition: .5s;

    &:hover {
        background-color: #04345c;
    }
}

.btn-back-user {
    width: 38rem;
    cursor: pointer;
    margin-top: 4rem;
    padding: 1rem;
    background-color: $red;
    color: $white;
    border-radius: 2rem;
    
    &:hover {
        background-color: #BA181B;
    }
}

.userInformation {
    margin-bottom: 1.5rem
}