@import 'global';

.content{
    display: flex;
    height: 100vh;
}

.container{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 50vw;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"]{
    display: none;
}

.customize{
    background-color: $blue;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 0;
    padding: 0.6rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6vh 0;
    transition: .5s;

    &:hover {
        background-color: rgb(68, 68, 226) !important;
    }
}

.customize:hover{
    background-color: $red;
}

// .customize i{
//     padding-right: 1rem;
// }

.input-box {
    font-size: 1.2rem;
    border: 1px solid #363232;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 2vh;
    height: 2.8rem;
    width: 38rem;
    padding-left: 0.5rem;
}

.ui-subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-button;
    color: $white;
    height: 4rem;
    width: 38rem;
    margin-bottom: 3vh;
    font-size: 1.8rem;
}

.ui-btns {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ui-button {
    color: $white;
    background-color: $red;
    height: 3rem;
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}


.changeButton {
    color: $white;
    background-color: $grey-button;
    height: 3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;

    &:hover {
        background-color: #050505;
    }
}

.ui-button:nth-child(1) {
    background-color: $blue;

    &:hover {
        background-color: #04345c;
    }
}

.ui-button:nth-child(2) {

    &:hover {
        background-color: #BA181B;
    }
}

.select {
    font-size: 1.2rem;
    margin-bottom: 2vh;
}

.btn-edit-user {
    width: 38rem;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: $blue;
    color: $white;
    border-radius: 4rem !important;
    transition: .5s;

    &:hover {
        background-color: #04345c;
    }
}

.btn-back-user {
    width: 38rem;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: $red;
    color: $white;
    border-radius: 4rem !important;
    border-color: transparent;
    
    &:hover {
        background-color: #BA181B;
        border-color: transparent;
    }
}

.userInformation {
    margin-bottom: 2vh;
}

.detailsForm {
    margin-top: 1.5vh;
    font-size: 1.2rem;
}