@import '../../styles/global';

header {
  background-color: $red;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.logo {
  height: 5rem;
  display: flex;
  margin-left: 18%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: $white;

  .icon {
    margin: 0 1rem;
    cursor: pointer;

    &:hover {
      color: #04345c;
    }
  }
}

@media (max-width: 1000px) {
  header {
    display: none;
  }

  .logo {
    display: none;
  }
}
