@import "../../styles/global";

header {
    background-color: $red;
    width: 85vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 5rem;
    display: flex;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: $white;
    
    .icon{
        margin: 0 1rem;
        cursor: pointer;

        &:hover {
            color: #04345c;
        }
    }
}
